table.signup {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

table.index {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table.singlePack {
  text-align: left;
  width: 25%;
  margin-left: 38%;
  margin-right: 35%;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-main {
  color: #ffffff;
  background-color: #7440B8;
  border-color: #746E94;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ffffff;
  background-color: #452470;
  border-color: #746E94;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
  background-color: #7440B8;
  border-color: #746E94;
}

.btn-main .badge {
  color: #7440B8;
  background-color: #ffffff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */
 html, body {
   height: 100%;
 }
 body {
   color: #333;
   text-align: center;
 }

 /* Extra markup and styles for table-esque vertical and horizontal centering */
 .site-wrapper {
   display: table;
   width: 100%;
   height: 100%; /* For at least Firefox */
   min-height: 100%;
   box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
   background-color: #333;
   color: #fff;
 }
 .site-wrapper-inner {
   display: table-cell;
   vertical-align: middle;
 }
 .cover-container {
   margin-right: auto;
   margin-left: auto;
 }
