<h1>Login to Shipping Tracker</h1>

<form class="login" action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username"><br><br>
  <label for="password">Password: </label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>
