<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1 class="display-4">Login to Shipping Tracker</h1>
    <br>

    <form class="login" action="/login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username"><br><br>
      <label for="password">Password: </label>
      <input type="password" name="password"><br><br>
      <input type="submit" value="Login" class="btn btn-main">
    </form>
  </div>
</div>
