<h1>Your Senders</h1>

<% @senders.uniq.each do |sender| %>
  <h2><a href="/senders/<%= sender.id %>"><%= sender.name %></a></h2>
<% end %>

<a href="/packages" class="btn btn-main">All Packages</a> | <a href="/logout" class="btn btn-logout">Logout</a>
