<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1 class="cover-heading">Welcome to Shipping Tracker</h1>
    <h2>Track ALL THE SHIPMENTS!</h2>
    <h2><a href="/login" class="btn btn-lg btn-main">Login</a> | <a href="/signup" class="btn btn-lg  btn-secondary">Signup</a> </h2>
  </div>
</div>
