<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <h1>
      <span class="display-4">You have </span>
      <span class="display-4"><strong>Incoming!<strong></span>
   </h1><br>
    <h2>Track ALL THE SHIPMENTS!</h2><br>
    <h2><a href="/login" class="btn btn-lg btn-main">Login</a> | <a href="/signup" class="btn btn-lg  btn-secondary">Signup</a> </h2>
  </div>
</div>
